In [17]:
#import sys
#!{sys.executable} -m pip install tqdm

Collecting tqdm
  Downloading tqdm-4.64.0-py2.py3-none-any.whl (78 kB)
     |████████████████████████████████| 78 kB 2.8 MB/s eta 0:00:011
Installing collected packages: tqdm
Successfully installed tqdm-4.64.0

In [1]:
import pandas as pd

In [5]:
source = 'https://drive.google.com/file/d/14JcOSJAWqKOUNyadVZDPm7FplA7XYhrU/view?usp=sharing'
source = 'https://drive.google.com/uc?id=' + source.split('/')[-2]

In [6]:
trip_data = pd.read_csv(source)

In [7]:
trip_data.head()

,region,origin_coord,destination_coord,datetime,datasource
0,Prague,POINT (14.4973794438195 50.00136875782316),POINT (14.43109483523328 50.04052930943246),2018-05-28 09:03:40,funny_car
1,Turin,POINT (7.672837913286881 44.9957109242058),POINT (7.720368637535126 45.06782385393849),2018-05-21 02:54:04,baba_car
2,Prague,POINT (14.32427345662177 50.00002074358429),POINT (14.47767895969969 50.09339790740321),2018-05-13 08:52:25,cheap_mobile
3,Turin,POINT (7.541509189114433 45.09160503827746),POINT (7.74528653441973 45.02628598341506),2018-05-06 09:49:16,bad_diesel_vehicles
4,Turin,POINT (7.614078119815749 45.13433106465422),POINT (7.527497142312585 45.03335051325654),2018-05-23 12:45:54,pt_search_app

In [14]:
summaries = trip_data.groupby(['origin_coord']).size().reset_index(name='counts')

In [15]:
summaries_2 = summaries.loc[summaries['counts'] == 2]

In [16]:
summaries_2.head()

Empty DataFrame
Columns: [origin_coord, counts]
Index: []

In [9]:
from time import sleep
from tqdm import tqdm
idx = 0
print('reading file, please stand by')
while idx < 10:
    for i in tqdm(range(10)):
        idx += 1
        sleep(3)

reading file, please stand by

 30%|███       | 3/10 [00:10<00:25,  3.65s/it]

KeyboardInterrupt: